@import url("./reset.css");
@import url("./popup.css");
@import url("./hero__icon.css");

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,800&display=swap");
body {
  color: rgb(33, 33, 33);
  font-family: "Playfair Display", serif;
}
:root {
  --container-width: 1230px; /* базовое значение */
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  :root {
    --container-width: 992px; /* для экранов шириной до 1200px */
  }
}
@media (max-width: 1024px) {
  :root {
    --container-width: 860px;
  }
}
@media (max-width: 992px) {
  :root {
    --container-width: 768px; /* для экранов шириной до 992px */
  }
}

@media (max-width: 768px) {
  :root {
    --container-width: 576px; /* для экранов шириной до 768px */
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%; /* для мобильных устройств, используем 100% ширины */
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex-grow: 1;
}

h1 {
  font-size: calc(40px + 32 * (100vw / 1230));
}
@media (max-width: 768px) {
  h1 {
    font-size: calc(40px + (32 + 32 * 0.7) * ((100vw - 320px) / 1230));
  }
}

h2 {
  font-size: calc(30px + 20 * (100vw / 1230));
}
@media (max-width: 768px) {
  h2 {
    font-size: calc(30px + (20 + 20 * 0.7) * ((100vw - 320px) / 1230));
  }
}

h3 {
  font-size: calc(21px + 6 * (100vw / 1230));
}
@media (max-width: 768px) {
  h3 {
    font-size: calc(21px + (6 + 6 * 0.7) * ((100vw - 320px) / 1230));
  }
}

p {
  line-height: 26px;
  font-size: calc(16px + 3 * (100vw / 1230));
}
@media (max-width: 768px) {
  p {
    font-size: calc(16px + (3 + 3 * 0.7) * ((100vw - 320px) / 1230));
  }
}

/********************header ****************************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 3;
  padding: 0px 15px 0px 15px;
  /* background: black; */
}
.header__inner {
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 24px;
}

.menu__list-link {
  color: rgba(255, 255, 255, 0.87);
  font-size: 14.67px;
  font-family: "Open Sans", sans-serif;
}

.menu__list-link:hover {
  color: rgba(255, 255, 255, 1);
}
.menu__list-link:active {
  color: rgb(255, 255, 255);
  font-weight: 700;
}
.menu__list-link span {
  font-weight: 700;
}

.logo {
  color: white;
  font-size: calc(20px + 4 * (100vw / 1230));
  font-weight: 700;
}
@media (max-width: 768px) {
  .logo {
    font-size: calc(20px + (4 + 4 * 0.7) * ((100vw - 320px) / 1230));
  }
}

/*burger*/
.header__burger-btn {
  display: none;
  position: relative;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;

  width: 25px;
  height: 1.5px;
  background-color: white;
  left: 5px;
  transition: transform 0.5s, background-color 0.5s, opacity 0.5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-6px);
}
.header__burger-btn span:nth-child(3) {
  transform: translateY(6px);
}
.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}
.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

/***************************************************** main ******************************************/
/*hero*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__content-title {
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 79.92px;
}

@media (min-width: 768px) {
  .hero__content-title {
    border-color: rgb(255, 255, 255, 1);
    border-radius: 0px;
    border-style: solid;
    border-width: 6px;
    padding: 44px 90px;
  }
}
@media (max-width: 768px) {
  .hero__content-title {
    position: relative;

    width: 100%;
    border-color: rgb(255, 255, 255, 1);
    border-radius: 0px;
    border-style: solid;
    border-width: 6px;
    padding: 5px 40px;
  }
}

.hero__background {
  position: relative;
  display: flex;
  background-image: url("../images/hero-image.jpg");

  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 370px;
  align-items: center;
  z-index: -4;
}

.hero__background::before {
  content: "";
  /* background-image: url("../images/hero-background.jpg"); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 370px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
@media (max-width: 768px) {
  .hero__background::before,
  .hero__background {
    height: 320px;
  }
}
@media (max-width: 480px) {
  .hero__background::before,
  .hero__background {
    height: 350px;
  }
}

/************************contacts section*********************/
.working-hours::before {
  display: block;
  border: 2px, solid, #00000026;
  margin-top: 10px;
  margin-bottom: 48px;
  content: "";
}

.working-hours {
  text-align: center;
}
.working-hours p {
  padding: 10px;
}
.working-hours span {
  font-weight: 600;
}
.working-hours__phone {
  text-decoration: none;
  cursor: pointer;
  color: gray;
}
@media (min-width: 768px) {
  .working-hours__phone {
    pointer-events: none;
    color: #000;
    cursor: default;
  }
}

.working-hours::after {
  display: block;
  border: 2px, solid, #00000026;
  margin-top: 40px;
  margin-bottom: 48px;
  content: "";
}

.map__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.map__content-text {
  margin-bottom: 40px;
  font-weight: 600;

  text-align: center;
}

.map-responsive {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
}
.map-responsive iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/******************** footer ****************************/
.footer {
  background: #000;
}

.footer__inner {
  padding: 32px 0;
  color: rgb(187, 183, 175);
  font-family: "Open Sans", sans-serif;
  font-size: 17.33px;
  font-weight: 600;
  line-height: 30.33px;
  text-align: center;
}

.footer__phone {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  color: rgb(187, 183, 175);
}

@media (max-width: 768px) {
  .footer__phone {
    cursor: pointer;
    color: rgb(12, 89, 147);
  }
  .header__burger-btn {
    display: block;
  }
  .header__inner {
    justify-self: start;
  }
  .logo {
    padding-left: 10px;
  }
  .menu {
    position: absolute;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    padding: 60px 20px 20px 45px;
    background-color: rgb(27, 27, 27);
    transition: transform 0.5s;
  }
  .menu__list {
    display: block;
  }
  .menu__list-link {
    color: rgb(189, 189, 189);
    font-size: 15px;
    display: block;
    padding: 13px 0px;
  }

  .header.open .menu {
    transform: translateX(100%);
  }
}

/* @media (max-width: 480px) {
  .map__content iframe {
    width: 400px;
    height: 300px;
    padding: 10px;
  }
} */
