.info-icon {
  color: rgb(12, 89, 147);

  font-size: 25px;
}
.only-white {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 15px;
  height: 15px;
  align-self: center;
}

.info-icon-container {
  position: fixed;
  z-index: 20;
  top: 90vh;
  left: calc(((100vw - var(--container-width)) / 2) / 2 - 15px);
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 645px) {
  .info-icon-container {
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 20px;
    left: auto;
    z-index: 120;
  }
}
.popup {
  background-color: rgb(187, 183, 175);
  border: 1px;
  border-radius: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  position: fixed;
  z-index: 1;
  visibility: hidden;
  top: 89vh;
  left: calc(((100vw - var(--container-width)) / 2) / 2 - 18px);
  /* transition: all 0.8s ease 0s;
  transform: translate(-100%, 0px); */
}
.popup__text {
  color: rgb(10, 73, 121);
  font-weight: 600;
  padding: 20px 20px 20px 60px;
}

.popup.open {
  visibility: visible;
  /* transition: all 0.8s ease 0s;
  transform: translate(100%, 0px); */
}
.popup__phone {
  text-decoration: none;
  pointer-events: none;
  cursor: default;
  /* color: rgb(187, 183, 175); */
}
@media (max-width: 645px) {
  .popup {
    z-index: 20;
    background-color: rgb(187, 183, 175);
    top: 60px;
    right: 10px;
    left: auto;
  }
  .popup__text {
    padding: 10px 10px 10px 10px;
  }
  .popup__phone {
    cursor: pointer;
    color: rgb(10, 73, 121);
    font-weight: 500;
  }
}
