@import url("reset.css");
@import url("./base.css");
@import url("./popup.css");
@import url("./hero__icon.css");
@import url("./header.css");
@import url("./burger.css");
@import url("./footer.css");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,800&display=swap");

/***************************************************** main ******************************************/
/*hero*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__content-title {
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 79.92px;
}

@media (min-width: 768px) {
  .hero__content-title {
    border-color: rgb(255, 255, 255, 1);
    border-radius: 0px;
    border-style: solid;
    border-width: 6px;
    padding: 44px 90px;
  }
}
@media (max-width: 768px) {
  .hero__content-title {
    display: block;
    width: 100%;
    border-color: rgb(255, 255, 255, 1);
    border-radius: 0px;
    border-style: solid;
    border-width: 6px;
    padding: 5px 40px;
  }
}

.hero__background {
  position: relative;

  background-image: url("../images/hero-image.jpg");

  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 370px;
  align-items: center;
  z-index: -4;
}

.hero__background::before {
  content: "";
  /* background-image: url("../images/hero-background.jpg"); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 370px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
@media (max-width: 768px) {
  .hero__background::before,
  .hero__background {
    height: 320px;
  }
}
@media (max-width: 480px) {
  .hero__background::before,
  .hero__background {
    height: 250px;
  }
}

/************************services-section*********************/
.services__cards::before {
  display: block;
  border: 2px, solid, #00000026;
  margin-top: 10px;
  margin-bottom: 48px;
  content: "";
}

.services__cards {
  display: flex;
  flex-direction: column;
}
.services__card {
  position: relative;
}

.services__card-title {
  margin-bottom: 24px;
  padding-right: 40px;
}
.services__text li {
  padding: 7px 0px;
  line-height: 30px;
  font-size: calc(16px + 3 * (100vw / 1230));
}

@media (max-width: 768px) {
  .services__text li {
    font-size: calc(16px + (3 + 3 * 0.7) * ((100vw - 320px) / 1230));
    line-height: 20px;
  }
}

.services__card::after {
  margin: 24px 0px;
  display: block;
  content: "";
  border: 0.05px solid #00000026;
}

.icon-arrow {
  color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
}

.icon-arrow:hover {
  background-color: rgba(189, 189, 189, 0.2);
  border-radius: 50%;
}

.services__text {
  display: none;
  margin-bottom: 70px;
  text-align: justify;
}
