@import url("./reset.css");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600,800&display=swap");
body {
  color: rgb(33, 33, 33);
  font-family: "Playfair Display", serif;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .container {
    max-width: none;
    width: 90vw;
    /* border-color: rgb(255, 255, 255, 1);
    border-radius: 0px;
    border-style: solid;
    border-width: 6px; */
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex-grow: 1;
}

h1 {
  font-size: calc(40px + 32 * (100vw / 1230));
}
@media (max-width: 767px) {
  h1 {
    font-size: calc(40px + (32 + 32 * 0.7) * ((100vw - 320px) / 1230));
  }
}

h3 {
  font-size: calc(21px + 6 * (100vw / 1230));
}
@media (max-width: 767px) {
  h3 {
    font-size: calc(21px + (6 + 6 * 0.7) * ((100vw - 320px) / 1230));
  }
}

/********************header ****************************/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  z-index: 3;
  padding: 0px 15px 0px 15px;
  /* background: black; */
}
.header__inner {
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
  gap: 24px;
}

.menu__list-link {
  color: rgba(255, 255, 255, 0.87);
  font-size: 14.67px;
  font-family: "Open Sans", sans-serif;
}

.menu__list-link:hover {
  color: rgba(255, 255, 255, 1);
}
.menu__list-link:active {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.logo {
  color: white;
  font-size: calc(20px + 4 * (100vw / 1230));
  font-weight: 700;
}
@media (max-width: 767px) {
  .logo {
    font-size: calc(20px + (4 + 4 * 0.7) * ((100vw - 320px) / 1230));
  }
}

/*burger*/
.header__burger-btn {
  display: none;
  position: relative;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;

  width: 25px;
  height: 1.5px;
  background-color: white;
  left: 5px;
  transition: transform 0.5s, background-color 0.5s, opacity 0.5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-6px);
}
.header__burger-btn span:nth-child(3) {
  transform: translateY(6px);
}
.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}
.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

/***************************************************** main ******************************************/
/*hero*/

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.hero__content {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero__content-title {
  font-weight: 700;
  letter-spacing: -0.8px;
  line-height: 79.92px;
}

@media (min-width: 767px) {
  .hero__content-title {
    border-color: rgb(255, 255, 255, 1);
    border-radius: 0px;
    border-style: solid;
    border-width: 6px;
    padding: 44px 90px;
  }
}
@media (max-width: 767px) {
  .hero__content-title {
    display: block;
    width: 100%;
    border-color: rgb(255, 255, 255, 1);
    border-radius: 0px;
    border-style: solid;
    border-width: 6px;
    padding: 5px 40px;
  }
}

.hero__background {
  position: relative;

  background-image: url("../images/hero-image.jpg");

  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  height: 370px;
  align-items: center;
  z-index: -4;
}

.hero__background::before {
  content: "";
  /* background-image: url("../images/hero-background.jpg"); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 370px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
@media (max-width: 767px) {
  .hero__background::before,
  .hero__background {
    height: 320px;
  }
}
@media (max-width: 480px) {
  .hero__background::before,
  .hero__background {
    height: 250px;
  }
}

/************************services-section*********************/
.services__cards::before {
  display: block;
  border: 2px, solid, #00000026;
  margin-top: 10px;
  margin-bottom: 48px;
  content: "";
}

.services__cards {
  display: flex;
  flex-direction: column;
}
.services__card {
  position: relative;
}

.services__card-title {
  margin-bottom: 24px;
}

.services__text li {
  padding: 7px 0px;
  line-height: 30px;
  font-size: calc(16px + 3 * (100vw / 1230));
}
@media (max-width: 767px) {
  .services__text li {
    font-size: calc(16px + (3 + 3 * 0.7) * ((100vw - 320px) / 1230));
  }
}

.services__card-title::after {
  margin: 24px 0px;
  display: block;
  content: "";
  border: 0.05px solid rgba(0, 0, 0, 1);
}

.icon-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 0px;

  fill: gray;
  width: 48px;
  height: 48px;
}

.icon-arrow:hover {
  fill: rgba(189, 189, 189, 1);
  background-color: rgba(189, 189, 189, 0.2);
  border-radius: 50%;
}

.services__text {
  display: none;
  /* margin-top: 50px; */
  margin-bottom: 70px;
}

.info-icon {
  color: rgb(12, 89, 147);
  font-size: 25px;
  margin: 0 auto;
  align-self: center;
}

.info-icon-container {
  position: fixed;
  z-index: 2;
  top: 90vh;
  left: 20px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

/******************** footer ****************************/
.footer {
  background: #000;
}

.footer__inner {
  padding: 32px 0;
  color: rgb(187, 183, 175);
  font-family: "Open Sans", sans-serif;
  font-size: 17.33px;
  font-weight: 600;
  line-height: 30.33px;
  text-align: center;
}

@media (max-width: 767px) {
  .header__burger-btn {
    display: block;
  }
  .header__inner {
    justify-self: start;
  }
  .logo {
    padding-left: 10px;
  }
  .menu {
    position: absolute;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100vh;
    padding: 60px 20px 20px 45px;
    background-color: rgb(27, 27, 27);
    transition: transform 0.5s;
  }
  .menu__list {
    display: block;
  }
  .menu__list-link {
    color: rgb(189, 189, 189);
    font-size: 15px;
    display: block;
    padding: 13px 0px;
  }

  .header.open .menu {
    transform: translateX(100%);
  }
}

/* .services__cards {
    display: grid;
    grid-template-columns: 50vw;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
  }
} */
/* @media (max-width: 480px) {
  .services__cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    margin: 0 auto;
    justify-items: center;
    justify-content: center;
  }
  .services__card-title {
    padding: 5px;
    line-height: 30px;
  }
} */
